:root {
    --borderWidth: 7px;
    --shadow: 0px 4px 4px 0px rgba(0,0,0,0.15), 0px 2px 2px 0px rgba(0,0,0,0.1);
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    position: relative;
    top: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    padding-bottom: calc(var(--borderWidth) * 2);
    padding-top: calc(var(--borderWidth) * 2);
    border-bottom: var(--borderWidth) solid #000;
    box-shadow: var(--shadow);
}
a {
    color: #000;
}
#bottomNav {
    z-index: 1;
    position: fixed;
    bottom: var(--borderWidth);
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    background-color: #fff;
    width: calc(500px - (var(--borderWidth) * 2));
    border: var(--borderWidth) solid #000;
    border-radius: 80px;
    z-index: 9;
}
.bottomNavContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navItem {
    color: #000;
    font-size: 16px;
}
.navItem a {
  text-decoration: none;
}
.navItem img {
  margin: auto;
    width: 46px;
    transform: translateY(3.5px);
}
@media only screen and (max-width: 600px) {
  #bottomNav {
    width: calc(100% - (var(--borderWidth) * 2));
    bottom: 0;
  }
}