:root {
  --borderWidth: 7px;
  --shadow: 0px 4px 4px 0px #0000002e, 0px 2px 2px 0px #0000001f;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  position: relative;
  top: 0;
  margin-top: 0;
  text-align: center;
  font-size: 42px;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: var(--borderWidth) solid #000;
  background-color: #fff;
  box-shadow: var(--shadow);
}
h2 {
  font-size: 36px;
  margin-top: 14px;
  margin-bottom: var(--borderWidth);
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: var(--borderWidth);
  text-align: center;
}
.name {
  font-size: 18px;
  font-weight: bold;
  margin-top: var(--borderWidth);
  margin-bottom: var(--borderWidth);
  text-align: center;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.main-content {
  width: 720px;
  margin: auto;
  padding-bottom: 28px;
}
.main-content p {
  white-space: normal;
  font-size: 18px;
  text-align: justify;
}
.main-content iframe {
  width: 100%;
  height: 440px;
  margin: auto;
}
.divider {
  border-bottom: var(--borderWidth) solid #000;
  box-shadow: var(--shadow);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -5;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 112px;
}
.card {
  width: 540px;
  padding: 28px;
  margin: 14px;
  background-color: #fdfdfd;
  border-radius: 14px;
  border: var(--borderWidth) solid #000;
  box-shadow: 0 0.2px 0.2px #0000000a, 0 0.5px 0.5px #0000000f, 0 0.9px 0.9px #00000012, 0 1.6px 1.6px #00000015, 0 2.9px 2.9px #0000001a, 0 7px 7px #00000024;
  z-index: 2;
}
.small-card {
  width: 150px;
  padding: 28px;
  margin: 14px;
  background-color: #fdfdfd;
  border-radius: 14px;
  border: var(--borderWidth) solid #000;
  box-shadow: 0 0.2px 0.2px #0000000a, 0 0.5px 0.5px #0000000f, 0 0.9px 0.9px #00000012, 0 1.6px 1.6px #00000015, 0 2.9px 2.9px #0000001a, 0 7px 7px #00000024;
  z-index: 2;
}
.small-card img {
  width: 100%;
}
.card img {
  height: 300px;
  margin-right: 14px;
  margin-left: 14px;
  box-shadow: 0px 2px 2px 0px #0000001f, 0 0.25px #00000015, 0 0.5px 3px #00000027;
}
.card p {
  text-align: justify;
}
#bottomNav {
  z-index: 1;
  position: fixed;
  bottom: var(--borderWidth);
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  background-color: #fff;
  width: calc(500px - (var(--borderWidth) * 2));
  border: var(--borderWidth) solid #000;
  border-radius: 80px;
  z-index: 9;
  box-shadow: var(--shadow);
}
.bottomNavContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navItem {
  color: #000;
  font-size: 16px;
}
.navItem a {
  text-decoration: none;
}
.navItem img {
  margin: auto;
  width: 46px;
  transform: translateY(3.5px);
}
@media only screen and (max-width: 800px) {
  .main-content p {
    margin: 14px;
    font-size: 17px;
  }
  .main-content  {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #bottomNav {
    width: calc(100% - (var(--borderWidth) * 2));
    bottom: 0;
  }
  .cards {
    margin-right: 2%;
    margin-left: 2%;
  }
  .card img {
    height: 280px;
    margin-right: 4px;
    margin-left: 4px;
  }
}